# Mercedes-Benz-Greener-Manufacturing 
# Group A

In [1]:
print("Memebers list: ")
print("1. Janit Jindal")
print("2. Abu Bakar")
print("3. Parul Mehndiratta")
print("4. Vidhut Sharma")
print("\n=================================\n")
print("Parts of work: ")
print("1. Planning done by Trello")
print("2. python code")
print("3. Git repository")
print("\n=================================")

print("\nAll of the contribution will be explained in trello and powerpoint :)")

Memebers list:
1. Janit Jindal
2. Abu Bakar
3. Parul Mehndiratta
4. Vidhut Sharma

=================================

Parts of work:
1. Planning done by Trello
2. python code
3. Git repository

=================================

All of the contribution will be explained in trello and powerpoint :)

# Step 1: Import the required libraries

#### step 1.1 (linear algebra) , step 1.2 (Data preprocessing), step 1.3 (Dimensionality reduction)

In [36]:
import pandas as pd    
import numpy as np      
from sklearn.preprocessing import LabelEncoder
from sklearn.decomposition import TruncatedSVD
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
from xgboost import XGBRegressor
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error

# Step 2: Read files and print few rows

#### step 2.1 (understand the data) , step2.2 (print few rows and see how the data looks like)

In [3]:
datatrain = pd.read_csv(r"C:\Users\Janit\Downloads\train (2).csv")
datatrain.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

# Step 3: Collect the Y values into array

In [4]:
## Seperated the 'y' column from the data 
Y = pd.DataFrame()
Y['y'] = datatrain['y']
Y = Y.astype(int)

In [5]:
Y.head()

     y
0  130
1   88
2   76
3   80
4   78

# Step 4: understand the data types we have

#### step 4.1 iterate through all the columns which has X in the names

In [6]:
X = pd.DataFrame
X = datatrain.drop(['y','ID'] , axis=1)  ## drop the unwanted column to represent X columns

In [7]:
## representation 
X.describe

<bound method NDFrame.describe of       X0 X1  X2 X3 X4  X5 X6 X8  X10  X11  ...  X375  X376  X377  X378  X379  \
0      k  v  at  a  d   u  j  o    0    0  ...     0     0     1     0     0
1      k  t  av  e  d   y  l  o    0    0  ...     1     0     0     0     0
2     az  w   n  c  d   x  j  x    0    0  ...     0     0     0     0     0
3     az  t   n  f  d   x  l  e    0    0  ...     0     0     0     0     0
4     az  v   n  f  d   h  d  n    0    0  ...     0     0     0     0     0
...   .. ..  .. .. ..  .. .. ..  ...  ...  ...   ...   ...   ...   ...   ...
4204  ak  s  as  c  d  aa  d  q    0    0  ...     1     0     0     0     0
4205   j  o   t  d  d  aa  h  h    0    0  ...     0     1     0     0     0
4206  ak  v   r  a  d  aa  g  e    0    0  ...     0     0     1     0     0
4207  al  r   e  f  d  aa  l  u    0    0  ...     0     0     0     0     0
4208   z  r  ae  c  d  aa  g  w    0    0  ...     1     0     0     0     0

      X380  X382  X383  X384  X385
0        0     0     0     0     0
1        0     0     0     0     0
2        0     1     0     0     0
3        0     0     0     0     0
4        0     0     0     0     0
...    ...   ...   ...   ...   ...
4204     0     0     0     0     0
4205     0     0     0     0     0
4206     0     0     0     0     0
4207     0     0     0     0     0
4208     0     0     0     0     0

[4209 rows x 376 columns]>

# Step5 : Count the data in each column

In [8]:
X.value_counts().sum()    ### in each column there is 4209 rows

4209

# Step6 : Read the test.csv data and remove columns

#### step 6.1 (remove column ID and Y from the data as they are not used for learning)

In [9]:
datatest = pd.read_csv(r"C:\Users\Janit\Downloads\test (1).csv")
datatest.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [10]:
datatest = datatest.drop(['ID'], axis=1)  ##dropped unwanted column
datatest.head()

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X11,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,az,v,n,f,d,t,a,w,0,0,...,0,0,0,1,0,0,0,0,0,0
1,t,b,ai,a,d,b,g,y,0,0,...,0,0,1,0,0,0,0,0,0,0
2,az,v,as,f,d,a,j,j,0,0,...,0,0,0,1,0,0,0,0,0,0
3,az,l,n,f,d,z,l,n,0,0,...,0,0,0,1,0,0,0,0,0,0
4,w,s,as,c,d,y,i,m,0,0,...,1,0,0,0,0,0,0,0,0,0

# Step7: Check for null and unique values for test and train sets

#### train dataset

In [11]:
#checking the null values of X and Y  
X.isnull().sum()

X0      0
X1      0
X2      0
X3      0
X4      0
       ..
X380    0
X382    0
X383    0
X384    0
X385    0
Length: 376, dtype: int64

In [12]:
Y.isnull().sum()

y    0
dtype: int64

In [13]:
## checking the unique values of X and Y

In [14]:
for column in X.columns:
    unique_values = X[column].unique()
    print(f'Unique values in column "{column}": {unique_values}')

Unique values in column "X0": ['k' 'az' 't' 'al' 'o' 'w' 'j' 'h' 's' 'n' 'ay' 'f' 'x' 'y' 'aj' 'ak' 'am'
 'z' 'q' 'at' 'ap' 'v' 'af' 'a' 'e' 'ai' 'd' 'aq' 'c' 'aa' 'ba' 'as' 'i'
 'r' 'b' 'ax' 'bc' 'u' 'ad' 'au' 'm' 'l' 'aw' 'ao' 'ac' 'g' 'ab']
Unique values in column "X1": ['v' 't' 'w' 'b' 'r' 'l' 's' 'aa' 'c' 'a' 'e' 'h' 'z' 'j' 'o' 'u' 'p' 'n'
 'i' 'y' 'd' 'f' 'm' 'k' 'g' 'q' 'ab']
Unique values in column "X2": ['at' 'av' 'n' 'e' 'as' 'aq' 'r' 'ai' 'ak' 'm' 'a' 'k' 'ae' 's' 'f' 'd'
 'ag' 'ay' 'ac' 'ap' 'g' 'i' 'aw' 'y' 'b' 'ao' 'al' 'h' 'x' 'au' 't' 'an'
 'z' 'ah' 'p' 'am' 'j' 'q' 'af' 'l' 'aa' 'c' 'o' 'ar']
Unique values in column "X3": ['a' 'e' 'c' 'f' 'd' 'b' 'g']
Unique values in column "X4": ['d' 'b' 'c' 'a']
Unique values in column "X5": ['u' 'y' 'x' 'h' 'g' 'f' 'j' 'i' 'd' 'c' 'af' 'ag' 'ab' 'ac' 'ad' 'ae'
 'ah' 'l' 'k' 'n' 'm' 'p' 'q' 's' 'r' 'v' 'w' 'o' 'aa']
Unique values in column "X6": ['j' 'l' 'd' 'h' 'i' 'a' 'g' 'c' 'k' 'e' 'f' 'b']
Unique values in column "X8": ['o' 'x' 'e' 'n' 's' 'a' 'h' 'p' 'm' 'k' 'd' 'i' 'v' 'j' 'b' 'q' 'w' 'g'
 'y' 'l' 'f' 'u' 'r' 't' 'c']
Unique values in column "X10": [0 1]
Unique values in column "X11": [0]
Unique values in column "X12": [0 1]
Unique values in column "X13": [1 0]
Unique values in column "X14": [0 1]
Unique values in column "X15": [0 1]
Unique values in column "X16": [0 1]
Unique values in column "X17": [0 1]
Unique values in column "X18": [1 0]
Unique values in column "X19": [0 1]
Unique values in column "X20": [0 1]
Unique values in column "X21": [1 0]
Unique values in column "X22": [0 1]
Unique values in column "X23": [0 1]
Unique values in column "X24": [0 1]
Unique values in column "X26": [0 1]
Unique values in column "X27": [0 1]
Unique values in column "X28": [0 1]
Unique values in column "X29": [0 1]
Unique values in column "X30": [0 1]
Unique values in column "X31": [1 0]
Unique values in column "X32": [0 1]
Unique values in column "X33": [0 1]
Unique values in column "X34": [0 1]
Unique values in column "X35": [1 0]
Unique values in column "X36": [0 1]
Unique values in column "X37": [1 0]
Unique values in column "X38": [0 1]
Unique values in column "X39": [0 1]
Unique values in column "X40": [0 1]
Unique values in column "X41": [0 1]
Unique values in column "X42": [0 1]
Unique values in column "X43": [0 1]
Unique values in column "X44": [0 1]
Unique values in column "X45": [0 1]
Unique values in column "X46": [1 0]
Unique values in column "X47": [0 1]
Unique values in column "X48": [0 1]
Unique values in column "X49": [0 1]
Unique values in column "X50": [0 1]
Unique values in column "X51": [0 1]
Unique values in column "X52": [0 1]
Unique values in column "X53": [0 1]
Unique values in column "X54": [0 1]
Unique values in column "X55": [0 1]
Unique values in column "X56": [0 1]
Unique values in column "X57": [0 1]
Unique values in column "X58": [1 0]
Unique values in column "X59": [0 1]
Unique values in column "X60": [0 1]
Unique values in column "X61": [0 1]
Unique values in column "X62": [0 1]
Unique values in column "X63": [0 1]
Unique values in column "X64": [0 1]
Unique values in column "X65": [0 1]
Unique values in column "X66": [0 1]
Unique values in column "X67": [0 1]
Unique values in column "X68": [1 0]
Unique values in column "X69": [0 1]
Unique values in column "X70": [1 0]
Unique values in column "X71": [0 1]
Unique values in column "X73": [0 1]
Unique values in column "X74": [1 0]
Unique values in column "X75": [0 1]
Unique values in column "X76": [0 1]
Unique values in column "X77": [0 1]
Unique values in column "X78": [0 1]
Unique values in column "X79": [0 1]
Unique values in column "X80": [0 1]
Unique values in column "X81": [0 1]
Unique values in column "X82": [0 1]
Unique values in column "X83": [0 1]
Unique values in column "X84": [0 1]
Unique values in column "X85": [1 0]
Unique values in column "X86": [0 1]
Unique values in column "X87": [0 1]
Unique values in column "X88": [0 1]
Unique values in column "X89": [0 1]
Unique values in column "X90": [0 1]
Unique values in column "X91": [0 1]
Unique values in column "X92": [0 1]
Unique values in column "X93": [0]
Unique values in column "X94": [0 1]
Unique values in column "X95": [0 1]
Unique values in column "X96": [0 1]
Unique values in column "X97": [0 1]
Unique values in column "X98": [0 1]
Unique values in column "X99": [0 1]
Unique values in column "X100": [0 1]
Unique values in column "X101": [0 1]
Unique values in column "X102": [0 1]
Unique values in column "X103": [0 1]
Unique values in column "X104": [0 1]
Unique values in column "X105": [0 1]
Unique values in column "X106": [0 1]
Unique values in column "X107": [0]
Unique values in column "X108": [0 1]
Unique values in column "X109": [0 1]
Unique values in column "X110": [0 1]
Unique values in column "X111": [1 0]
Unique values in column "X112": [0 1]
Unique values in column "X113": [0 1]
Unique values in column "X114": [1 0]
Unique values in column "X115": [0 1]
Unique values in column "X116": [1 0]
Unique values in column "X117": [0 1]
Unique values in column "X118": [1 0]
Unique values in column "X119": [1 0]
Unique values in column "X120": [1 0]
Unique values in column "X122": [0 1]
Unique values in column "X123": [0 1]
Unique values in column "X124": [0 1]
Unique values in column "X125": [0 1]
Unique values in column "X126": [0 1]
Unique values in column "X127": [0 1]
Unique values in column "X128": [1 0]
Unique values in column "X129": [0 1]
Unique values in column "X130": [0 1]
Unique values in column "X131": [1 0]
Unique values in column "X132": [0 1]
Unique values in column "X133": [0 1]
Unique values in column "X134": [0 1]
Unique values in column "X135": [0 1]
Unique values in column "X136": [1 0]
Unique values in column "X137": [1 0]
Unique values in column "X138": [0 1]
Unique values in column "X139": [0 1]
Unique values in column "X140": [0 1]
Unique values in column "X141": [0 1]
Unique values in column "X142": [1 0]
Unique values in column "X143": [0 1]
Unique values in column "X144": [1 0]
Unique values in column "X145": [0 1]
Unique values in column "X146": [0 1]
Unique values in column "X147": [0 1]
Unique values in column "X148": [0 1]
Unique values in column "X150": [1 0]
Unique values in column "X151": [0 1]
Unique values in column "X152": [0 1]
Unique values in column "X153": [0 1]
Unique values in column "X154": [0 1]
Unique values in column "X155": [0 1]
Unique values in column "X156": [1 0]
Unique values in column "X157": [0 1]
Unique values in column "X158": [0 1]
Unique values in column "X159": [0 1]
Unique values in column "X160": [0 1]
Unique values in column "X161": [0 1]
Unique values in column "X162": [0 1]
Unique values in column "X163": [0 1]
Unique values in column "X164": [0 1]
Unique values in column "X165": [0 1]
Unique values in column "X166": [0 1]
Unique values in column "X167": [0 1]
Unique values in column "X168": [0 1]
Unique values in column "X169": [0 1]
Unique values in column "X170": [1 0]
Unique values in column "X171": [0 1]
Unique values in column "X172": [0 1]
Unique values in column "X173": [0 1]
Unique values in column "X174": [0 1]
Unique values in column "X175": [0 1]
Unique values in column "X176": [0 1]
Unique values in column "X177": [0 1]
Unique values in column "X178": [0 1]
Unique values in column "X179": [1 0]
Unique values in column "X180": [0 1]
Unique values in column "X181": [0 1]
Unique values in column "X182": [0 1]
Unique values in column "X183": [0 1]
Unique values in column "X184": [1 0]
Unique values in column "X185": [0 1]
Unique values in column "X186": [0 1]
Unique values in column "X187": [1 0]
Unique values in column "X189": [1 0]
Unique values in column "X190": [0 1]
Unique values in column "X191": [0 1]
Unique values in column "X192": [0 1]
Unique values in column "X194": [1 0]
Unique values in column "X195": [0 1]
Unique values in column "X196": [0 1]
Unique values in column "X197": [0 1]
Unique values in column "X198": [0 1]
Unique values in column "X199": [0 1]
Unique values in column "X200": [0 1]
Unique values in column "X201": [0 1]
Unique values in column "X202": [0 1]
Unique values in column "X203": [0 1]
Unique values in column "X204": [1 0]
Unique values in column "X205": [0 1]
Unique values in column "X206": [0 1]
Unique values in column "X207": [0 1]
Unique values in column "X208": [0 1]
Unique values in column "X209": [1 0]
Unique values in column "X210": [0 1]
Unique values in column "X211": [0 1]
Unique values in column "X212": [0 1]
Unique values in column "X213": [0 1]
Unique values in column "X214": [0 1]
Unique values in column "X215": [0 1]
Unique values in column "X216": [0 1]
Unique values in column "X217": [0 1]
Unique values in column "X218": [0 1]
Unique values in column "X219": [0 1]
Unique values in column "X220": [1 0]
Unique values in column "X221": [0 1]
Unique values in column "X222": [0 1]
Unique values in column "X223": [0 1]
Unique values in column "X224": [0 1]
Unique values in column "X225": [0 1]
Unique values in column "X226": [0 1]
Unique values in column "X227": [0 1]
Unique values in column "X228": [0 1]
Unique values in column "X229": [0 1]
Unique values in column "X230": [0 1]
Unique values in column "X231": [0 1]
Unique values in column "X232": [0 1]
Unique values in column "X233": [0]
Unique values in column "X234": [1 0]
Unique values in column "X235": [0]
Unique values in column "X236": [0 1]
Unique values in column "X237": [1 0]
Unique values in column "X238": [0 1]
Unique values in column "X239": [0 1]
Unique values in column "X240": [0 1]
Unique values in column "X241": [0 1]
Unique values in column "X242": [0 1]
Unique values in column "X243": [0 1]
Unique values in column "X244": [0 1]
Unique values in column "X245": [0 1]
Unique values in column "X246": [0 1]
Unique values in column "X247": [0 1]
Unique values in column "X248": [0 1]
Unique values in column "X249": [0 1]
Unique values in column "X250": [0 1]
Unique values in column "X251": [0 1]
Unique values in column "X252": [0 1]
Unique values in column "X253": [0 1]
Unique values in column "X254": [0 1]
Unique values in column "X255": [0 1]
Unique values in column "X256": [0 1]
Unique values in column "X257": [0 1]
Unique values in column "X258": [0 1]
Unique values in column "X259": [0 1]
Unique values in column "X260": [0 1]
Unique values in column "X261": [0 1]
Unique values in column "X262": [1 0]
Unique values in column "X263": [1 0]
Unique values in column "X264": [0 1]
Unique values in column "X265": [0 1]
Unique values in column "X266": [1 0]
Unique values in column "X267": [0 1]
Unique values in column "X268": [0]
Unique values in column "X269": [0 1]
Unique values in column "X270": [0 1]
Unique values in column "X271": [0 1]
Unique values in column "X272": [0 1]
Unique values in column "X273": [1 0]
Unique values in column "X274": [0 1]
Unique values in column "X275": [1 0]
Unique values in column "X276": [0 1]
Unique values in column "X277": [0 1]
Unique values in column "X278": [0 1]
Unique values in column "X279": [0 1]
Unique values in column "X280": [0 1]
Unique values in column "X281": [0 1]
Unique values in column "X282": [0 1]
Unique values in column "X283": [0 1]
Unique values in column "X284": [0 1]
Unique values in column "X285": [1 0]
Unique values in column "X286": [0 1]
Unique values in column "X287": [0 1]
Unique values in column "X288": [0 1]
Unique values in column "X289": [0]
Unique values in column "X290": [0]
Unique values in column "X291": [0 1]
Unique values in column "X292": [0 1]
Unique values in column "X293": [0]
Unique values in column "X294": [0 1]
Unique values in column "X295": [0 1]
Unique values in column "X296": [0 1]
Unique values in column "X297": [0]
Unique values in column "X298": [0 1]
Unique values in column "X299": [0 1]
Unique values in column "X300": [0 1]
Unique values in column "X301": [0 1]
Unique values in column "X302": [0 1]
Unique values in column "X304": [0 1]
Unique values in column "X305": [0 1]
Unique values in column "X306": [1 0]
Unique values in column "X307": [0 1]
Unique values in column "X308": [0 1]
Unique values in column "X309": [0 1]
Unique values in column "X310": [0 1]
Unique values in column "X311": [0 1]
Unique values in column "X312": [0 1]
Unique values in column "X313": [0 1]
Unique values in column "X314": [0 1]
Unique values in column "X315": [0 1]
Unique values in column "X316": [1 0]
Unique values in column "X317": [0 1]
Unique values in column "X318": [0 1]
Unique values in column "X319": [0 1]
Unique values in column "X320": [0 1]
Unique values in column "X321": [0 1]
Unique values in column "X322": [0 1]
Unique values in column "X323": [0 1]
Unique values in column "X324": [1 0]
Unique values in column "X325": [0 1]
Unique values in column "X326": [0 1]
Unique values in column "X327": [1 0]
Unique values in column "X328": [0 1]
Unique values in column "X329": [1 0]
Unique values in column "X330": [0]
Unique values in column "X331": [0 1]
Unique values in column "X332": [0 1]
Unique values in column "X333": [0 1]
Unique values in column "X334": [1 0]
Unique values in column "X335": [0 1]
Unique values in column "X336": [0 1]
Unique values in column "X337": [0 1]
Unique values in column "X338": [0 1]
Unique values in column "X339": [0 1]
Unique values in column "X340": [0 1]
Unique values in column "X341": [0 1]
Unique values in column "X342": [0 1]
Unique values in column "X343": [0 1]
Unique values in column "X344": [0 1]
Unique values in column "X345": [0 1]
Unique values in column "X346": [0 1]
Unique values in column "X347": [0]
Unique values in column "X348": [0 1]
Unique values in column "X349": [0 1]
Unique values in column "X350": [0 1]
Unique values in column "X351": [0 1]
Unique values in column "X352": [0 1]
Unique values in column "X353": [0 1]
Unique values in column "X354": [1 0]
Unique values in column "X355": [0 1]
Unique values in column "X356": [0 1]
Unique values in column "X357": [0 1]
Unique values in column "X358": [0 1]
Unique values in column "X359": [0 1]
Unique values in column "X360": [0 1]
Unique values in column "X361": [1 0]
Unique values in column "X362": [0 1]
Unique values in column "X363": [0 1]
Unique values in column "X364": [0 1]
Unique values in column "X365": [0 1]
Unique values in column "X366": [0 1]
Unique values in column "X367": [0 1]
Unique values in column "X368": [0 1]
Unique values in column "X369": [0 1]
Unique values in column "X370": [0 1]
Unique values in column "X371": [0 1]
Unique values in column "X372": [0 1]
Unique values in column "X373": [0 1]
Unique values in column "X374": [0 1]
Unique values in column "X375": [0 1]
Unique values in column "X376": [0 1]
Unique values in column "X377": [1 0]
Unique values in column "X378": [0 1]
Unique values in column "X379": [0 1]
Unique values in column "X380": [0 1]
Unique values in column "X382": [0 1]
Unique values in column "X383": [0 1]
Unique values in column "X384": [0 1]
Unique values in column "X385": [0 1]

In [15]:
for column in Y.columns:
    unique_values = Y[column].unique()
    print(f'Unique values in column "{column}": {unique_values}')

Unique values in column "y": [130  88  76  80  78  92 128  91 108 126 102  98  82  94  99  93 106 114
  89  90 120  84 104 107 117  79 110 101 139  85 116 119  97  95  87 111
 109 118 113 100  96  73 115 127 112 105 121 136  77 146 132 134 103 122
 150  74  86 169 154 129  75 123 124 131 147 140 265 158  83 141 125 137
 144 149 160 133 152 142 135 167  81  72 148 153 138 165 155]

#### test

In [16]:
## checking the null values of test data
datatest.isnull().sum()

X0      0
X1      0
X2      0
X3      0
X4      0
       ..
X380    0
X382    0
X383    0
X384    0
X385    0
Length: 376, dtype: int64

In [17]:
## checking the unique values of test data
for column in datatest.columns:
    unique_values = datatest[column].unique()
    print(f'Unique values in column "{column}": {unique_values}')

Unique values in column "X0": ['az' 't' 'w' 'y' 'x' 'f' 'ap' 'o' 'ay' 'al' 'h' 'z' 'aj' 'd' 'v' 'ak'
 'ba' 'n' 'j' 's' 'af' 'ax' 'at' 'aq' 'av' 'm' 'k' 'a' 'e' 'ai' 'i' 'ag'
 'b' 'am' 'aw' 'as' 'r' 'ao' 'u' 'l' 'c' 'ad' 'au' 'bc' 'g' 'an' 'ae' 'p'
 'bb']
Unique values in column "X1": ['v' 'b' 'l' 's' 'aa' 'r' 'a' 'i' 'p' 'c' 'o' 'm' 'z' 'e' 'h' 'w' 'g' 'k'
 'y' 't' 'u' 'd' 'j' 'q' 'n' 'f' 'ab']
Unique values in column "X2": ['n' 'ai' 'as' 'ae' 's' 'b' 'e' 'ak' 'm' 'a' 'aq' 'ag' 'r' 'k' 'aj' 'ay'
 'ao' 'an' 'ac' 'af' 'ax' 'h' 'i' 'f' 'ap' 'p' 'au' 't' 'z' 'y' 'aw' 'd'
 'at' 'g' 'am' 'j' 'x' 'ab' 'w' 'q' 'ah' 'ad' 'al' 'av' 'u']
Unique values in column "X3": ['f' 'a' 'c' 'e' 'd' 'g' 'b']
Unique values in column "X4": ['d' 'b' 'a' 'c']
Unique values in column "X5": ['t' 'b' 'a' 'z' 'y' 'x' 'h' 'g' 'f' 'j' 'i' 'd' 'c' 'af' 'ag' 'ab' 'ac'
 'ad' 'ae' 'ah' 'l' 'k' 'n' 'm' 'p' 'q' 's' 'r' 'v' 'w' 'o' 'aa']
Unique values in column "X6": ['a' 'g' 'j' 'l' 'i' 'd' 'f' 'h' 'c' 'k' 'e' 'b']
Unique values in column "X8": ['w' 'y' 'j' 'n' 'm' 's' 'a' 'v' 'r' 'o' 't' 'h' 'c' 'k' 'p' 'u' 'd' 'g'
 'b' 'q' 'e' 'l' 'f' 'i' 'x']
Unique values in column "X10": [0 1]
Unique values in column "X11": [0 1]
Unique values in column "X12": [0 1]
Unique values in column "X13": [0 1]
Unique values in column "X14": [0 1]
Unique values in column "X15": [0 1]
Unique values in column "X16": [0 1]
Unique values in column "X17": [0 1]
Unique values in column "X18": [0 1]
Unique values in column "X19": [0 1]
Unique values in column "X20": [0 1]
Unique values in column "X21": [0 1]
Unique values in column "X22": [0 1]
Unique values in column "X23": [0 1]
Unique values in column "X24": [0 1]
Unique values in column "X26": [0 1]
Unique values in column "X27": [1 0]
Unique values in column "X28": [1 0]
Unique values in column "X29": [1 0]
Unique values in column "X30": [0 1]
Unique values in column "X31": [1 0]
Unique values in column "X32": [0 1]
Unique values in column "X33": [0 1]
Unique values in column "X34": [0 1]
Unique values in column "X35": [1 0]
Unique values in column "X36": [0 1]
Unique values in column "X37": [1 0]
Unique values in column "X38": [0 1]
Unique values in column "X39": [0 1]
Unique values in column "X40": [0 1]
Unique values in column "X41": [0 1]
Unique values in column "X42": [0 1]
Unique values in column "X43": [1 0]
Unique values in column "X44": [0 1]
Unique values in column "X45": [0 1]
Unique values in column "X46": [1 0]
Unique values in column "X47": [0 1]
Unique values in column "X48": [0 1]
Unique values in column "X49": [0 1]
Unique values in column "X50": [0 1]
Unique values in column "X51": [0 1]
Unique values in column "X52": [0 1]
Unique values in column "X53": [0 1]
Unique values in column "X54": [1 0]
Unique values in column "X55": [0 1]
Unique values in column "X56": [0 1]
Unique values in column "X57": [0 1]
Unique values in column "X58": [0 1]
Unique values in column "X59": [0 1]
Unique values in column "X60": [0 1]
Unique values in column "X61": [1 0]
Unique values in column "X62": [0 1]
Unique values in column "X63": [0 1]
Unique values in column "X64": [0 1]
Unique values in column "X65": [0 1]
Unique values in column "X66": [0 1]
Unique values in column "X67": [0 1]
Unique values in column "X68": [0 1]
Unique values in column "X69": [0 1]
Unique values in column "X70": [1 0]
Unique values in column "X71": [0 1]
Unique values in column "X73": [0 1]
Unique values in column "X74": [1 0]
Unique values in column "X75": [0 1]
Unique values in column "X76": [1 0]
Unique values in column "X77": [0 1]
Unique values in column "X78": [0 1]
Unique values in column "X79": [0 1]
Unique values in column "X80": [1 0]
Unique values in column "X81": [0 1]
Unique values in column "X82": [0 1]
Unique values in column "X83": [0 1]
Unique values in column "X84": [0 1]
Unique values in column "X85": [0 1]
Unique values in column "X86": [0 1]
Unique values in column "X87": [0 1]
Unique values in column "X88": [0 1]
Unique values in column "X89": [0 1]
Unique values in column "X90": [0 1]
Unique values in column "X91": [0 1]
Unique values in column "X92": [0 1]
Unique values in column "X93": [0 1]
Unique values in column "X94": [0 1]
Unique values in column "X95": [0 1]
Unique values in column "X96": [1 0]
Unique values in column "X97": [0 1]
Unique values in column "X98": [1 0]
Unique values in column "X99": [0 1]
Unique values in column "X100": [0 1]
Unique values in column "X101": [1 0]
Unique values in column "X102": [0 1]
Unique values in column "X103": [0 1]
Unique values in column "X104": [0 1]
Unique values in column "X105": [0 1]
Unique values in column "X106": [0 1]
Unique values in column "X107": [0 1]
Unique values in column "X108": [0 1]
Unique values in column "X109": [0 1]
Unique values in column "X110": [0 1]
Unique values in column "X111": [1 0]
Unique values in column "X112": [0 1]
Unique values in column "X113": [0 1]
Unique values in column "X114": [1 0]
Unique values in column "X115": [0 1]
Unique values in column "X116": [0 1]
Unique values in column "X117": [0 1]
Unique values in column "X118": [0 1]
Unique values in column "X119": [0 1]
Unique values in column "X120": [0 1]
Unique values in column "X122": [0 1]
Unique values in column "X123": [0 1]
Unique values in column "X124": [0 1]
Unique values in column "X125": [0 1]
Unique values in column "X126": [0 1]
Unique values in column "X127": [0 1]
Unique values in column "X128": [1 0]
Unique values in column "X129": [0 1]
Unique values in column "X130": [0 1]
Unique values in column "X131": [0 1]
Unique values in column "X132": [1 0]
Unique values in column "X133": [0 1]
Unique values in column "X134": [0 1]
Unique values in column "X135": [0 1]
Unique values in column "X136": [0 1]
Unique values in column "X137": [0 1]
Unique values in column "X138": [0 1]
Unique values in column "X139": [0 1]
Unique values in column "X140": [0 1]
Unique values in column "X141": [0 1]
Unique values in column "X142": [0 1]
Unique values in column "X143": [0 1]
Unique values in column "X144": [1 0]
Unique values in column "X145": [0 1]
Unique values in column "X146": [0 1]
Unique values in column "X147": [0 1]
Unique values in column "X148": [1 0]
Unique values in column "X150": [1 0]
Unique values in column "X151": [0 1]
Unique values in column "X152": [0 1]
Unique values in column "X153": [0 1]
Unique values in column "X154": [0 1]
Unique values in column "X155": [0 1]
Unique values in column "X156": [0 1]
Unique values in column "X157": [1 0]
Unique values in column "X158": [1 0]
Unique values in column "X159": [0 1]
Unique values in column "X160": [0 1]
Unique values in column "X161": [0 1]
Unique values in column "X162": [1 0]
Unique values in column "X163": [0 1]
Unique values in column "X164": [0 1]
Unique values in column "X165": [0 1]
Unique values in column "X166": [1 0]
Unique values in column "X167": [0 1]
Unique values in column "X168": [0 1]
Unique values in column "X169": [0 1]
Unique values in column "X170": [0 1]
Unique values in column "X171": [0 1]
Unique values in column "X172": [0 1]
Unique values in column "X173": [0 1]
Unique values in column "X174": [0 1]
Unique values in column "X175": [0 1]
Unique values in column "X176": [0 1]
Unique values in column "X177": [0 1]
Unique values in column "X178": [0 1]
Unique values in column "X179": [1 0]
Unique values in column "X180": [0 1]
Unique values in column "X181": [0 1]
Unique values in column "X182": [0 1]
Unique values in column "X183": [0 1]
Unique values in column "X184": [0 1]
Unique values in column "X185": [1 0]
Unique values in column "X186": [0 1]
Unique values in column "X187": [0 1]
Unique values in column "X189": [0 1]
Unique values in column "X190": [0 1]
Unique values in column "X191": [0 1]
Unique values in column "X192": [0 1]
Unique values in column "X194": [1 0]
Unique values in column "X195": [0 1]
Unique values in column "X196": [0 1]
Unique values in column "X197": [0 1]
Unique values in column "X198": [0 1]
Unique values in column "X199": [0 1]
Unique values in column "X200": [0 1]
Unique values in column "X201": [0 1]
Unique values in column "X202": [0 1]
Unique values in column "X203": [0 1]
Unique values in column "X204": [1 0]
Unique values in column "X205": [0 1]
Unique values in column "X206": [0 1]
Unique values in column "X207": [0 1]
Unique values in column "X208": [0 1]
Unique values in column "X209": [1 0]
Unique values in column "X210": [0 1]
Unique values in column "X211": [0 1]
Unique values in column "X212": [0 1]
Unique values in column "X213": [0 1]
Unique values in column "X214": [0 1]
Unique values in column "X215": [0 1]
Unique values in column "X216": [0 1]
Unique values in column "X217": [0 1]
Unique values in column "X218": [1 0]
Unique values in column "X219": [0 1]
Unique values in column "X220": [1 0]
Unique values in column "X221": [0 1]
Unique values in column "X222": [0 1]
Unique values in column "X223": [1 0]
Unique values in column "X224": [0 1]
Unique values in column "X225": [0 1]
Unique values in column "X226": [0 1]
Unique values in column "X227": [0 1]
Unique values in column "X228": [0 1]
Unique values in column "X229": [0 1]
Unique values in column "X230": [0 1]
Unique values in column "X231": [0 1]
Unique values in column "X232": [1 0]
Unique values in column "X233": [0 1]
Unique values in column "X234": [0 1]
Unique values in column "X235": [0 1]
Unique values in column "X236": [0 1]
Unique values in column "X237": [0 1]
Unique values in column "X238": [0 1]
Unique values in column "X239": [0 1]
Unique values in column "X240": [0 1]
Unique values in column "X241": [0 1]
Unique values in column "X242": [0 1]
Unique values in column "X243": [0 1]
Unique values in column "X244": [0 1]
Unique values in column "X245": [0 1]
Unique values in column "X246": [1 0]
Unique values in column "X247": [0 1]
Unique values in column "X248": [0 1]
Unique values in column "X249": [0 1]
Unique values in column "X250": [1 0]
Unique values in column "X251": [0 1]
Unique values in column "X252": [0 1]
Unique values in column "X253": [0 1]
Unique values in column "X254": [0 1]
Unique values in column "X255": [0 1]
Unique values in column "X256": [1 0]
Unique values in column "X257": [0]
Unique values in column "X258": [0]
Unique values in column "X259": [0 1]
Unique values in column "X260": [0 1]
Unique values in column "X261": [0 1]
Unique values in column "X262": [0 1]
Unique values in column "X263": [0 1]
Unique values in column "X264": [0 1]
Unique values in column "X265": [0 1]
Unique values in column "X266": [0 1]
Unique values in column "X267": [0 1]
Unique values in column "X268": [0 1]
Unique values in column "X269": [0 1]
Unique values in column "X270": [0 1]
Unique values in column "X271": [0 1]
Unique values in column "X272": [1 0]
Unique values in column "X273": [1 0]
Unique values in column "X274": [0 1]
Unique values in column "X275": [0 1]
Unique values in column "X276": [1 0]
Unique values in column "X277": [0 1]
Unique values in column "X278": [0 1]
Unique values in column "X279": [1 0]
Unique values in column "X280": [0 1]
Unique values in column "X281": [0 1]
Unique values in column "X282": [0 1]
Unique values in column "X283": [0 1]
Unique values in column "X284": [0 1]
Unique values in column "X285": [0 1]
Unique values in column "X286": [1 0]
Unique values in column "X287": [0 1]
Unique values in column "X288": [0 1]
Unique values in column "X289": [0 1]
Unique values in column "X290": [0 1]
Unique values in column "X291": [0 1]
Unique values in column "X292": [0 1]
Unique values in column "X293": [0 1]
Unique values in column "X294": [0 1]
Unique values in column "X295": [0]
Unique values in column "X296": [0]
Unique values in column "X297": [0 1]
Unique values in column "X298": [0 1]
Unique values in column "X299": [0 1]
Unique values in column "X300": [0 1]
Unique values in column "X301": [0 1]
Unique values in column "X302": [0 1]
Unique values in column "X304": [1 0]
Unique values in column "X305": [0 1]
Unique values in column "X306": [0 1]
Unique values in column "X307": [0 1]
Unique values in column "X308": [0 1]
Unique values in column "X309": [0 1]
Unique values in column "X310": [0 1]
Unique values in column "X311": [0 1]
Unique values in column "X312": [0 1]
Unique values in column "X313": [0 1]
Unique values in column "X314": [0 1]
Unique values in column "X315": [0 1]
Unique values in column "X316": [0 1]
Unique values in column "X317": [0 1]
Unique values in column "X318": [0 1]
Unique values in column "X319": [0 1]
Unique values in column "X320": [0 1]
Unique values in column "X321": [0 1]
Unique values in column "X322": [0 1]
Unique values in column "X323": [0 1]
Unique values in column "X324": [0 1]
Unique values in column "X325": [0 1]
Unique values in column "X326": [0 1]
Unique values in column "X327": [0 1]
Unique values in column "X328": [1 0]
Unique values in column "X329": [0 1]
Unique values in column "X330": [0 1]
Unique values in column "X331": [0 1]
Unique values in column "X332": [0 1]
Unique values in column "X333": [0 1]
Unique values in column "X334": [1 0]
Unique values in column "X335": [0 1]
Unique values in column "X336": [0 1]
Unique values in column "X337": [0 1]
Unique values in column "X338": [0 1]
Unique values in column "X339": [0 1]
Unique values in column "X340": [0 1]
Unique values in column "X341": [0 1]
Unique values in column "X342": [0 1]
Unique values in column "X343": [0 1]
Unique values in column "X344": [0 1]
Unique values in column "X345": [0 1]
Unique values in column "X346": [0 1]
Unique values in column "X347": [0 1]
Unique values in column "X348": [1 0]
Unique values in column "X349": [0 1]
Unique values in column "X350": [1 0]
Unique values in column "X351": [0 1]
Unique values in column "X352": [0 1]
Unique values in column "X353": [0 1]
Unique values in column "X354": [0 1]
Unique values in column "X355": [0 1]
Unique values in column "X356": [0 1]
Unique values in column "X357": [0 1]
Unique values in column "X358": [1 0]
Unique values in column "X359": [0 1]
Unique values in column "X360": [0 1]
Unique values in column "X361": [1 0]
Unique values in column "X362": [0 1]
Unique values in column "X363": [1 0]
Unique values in column "X364": [0 1]
Unique values in column "X365": [0 1]
Unique values in column "X366": [0 1]
Unique values in column "X367": [0 1]
Unique values in column "X368": [0 1]
Unique values in column "X369": [0]
Unique values in column "X370": [0 1]
Unique values in column "X371": [0 1]
Unique values in column "X372": [0 1]
Unique values in column "X373": [0 1]
Unique values in column "X374": [0 1]
Unique values in column "X375": [0 1]
Unique values in column "X376": [0 1]
Unique values in column "X377": [0 1]
Unique values in column "X378": [1 0]
Unique values in column "X379": [0 1]
Unique values in column "X380": [0 1]
Unique values in column "X382": [0 1]
Unique values in column "X383": [0 1]
Unique values in column "X384": [0 1]
Unique values in column "X385": [0 1]

# Step8: If for any column(s), the variance is equal to zero, then you need to remove those variable(s).
# Steps 9: Make sure the data is now changed into numericals

#### Step 8.1 ( apply label encoder)

In [18]:
### OF TRAIN DATA
def enco(dataframe):
    enco = LabelEncoder()
    for column in dataframe.columns:
        if dataframe[column].dtype == 'object':  
            dataframe[column] = enco.fit_transform(dataframe[column])
    return dataframe

X_encoded = pd.DataFrame
X_encoded = enco(X)

In [19]:
X_encoded ## encoded X of train

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X11,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,32,23,17,0,3,24,9,14,0,0,...,0,0,1,0,0,0,0,0,0,0
1,32,21,19,4,3,28,11,14,0,0,...,1,0,0,0,0,0,0,0,0,0
2,20,24,34,2,3,27,9,23,0,0,...,0,0,0,0,0,0,1,0,0,0
3,20,21,34,5,3,27,11,4,0,0,...,0,0,0,0,0,0,0,0,0,0
4,20,23,34,5,3,12,3,13,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8,20,16,2,3,0,3,16,0,0,...,1,0,0,0,0,0,0,0,0,0
4205,31,16,40,3,3,0,7,7,0,0,...,0,1,0,0,0,0,0,0,0,0
4206,8,23,38,0,3,0,6,4,0,0,...,0,0,1,0,0,0,0,0,0,0
4207,9,19,25,5,3,0,11,20,0,0,...,0,0,0,0,0,0,0,0,0,0
4208,46,19,3,2,3,0,6,22,0,0,...,1,0,0,0,0,0,0,0,0,0

In [20]:
### variance =0 removal
def zvarc(dataf):
    varcs = dataf.var()
    zolumns = varcs[varcs == 0].index
    cleaned_data = dataf.drop(columns=zolumns)
    return cleaned_data

cleaned_X = zvarc(X_encoded)
cleaned_X.astype(int)  ### changing data type to int

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X12,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,32,23,17,0,3,24,9,14,0,0,...,0,0,1,0,0,0,0,0,0,0
1,32,21,19,4,3,28,11,14,0,0,...,1,0,0,0,0,0,0,0,0,0
2,20,24,34,2,3,27,9,23,0,0,...,0,0,0,0,0,0,1,0,0,0
3,20,21,34,5,3,27,11,4,0,0,...,0,0,0,0,0,0,0,0,0,0
4,20,23,34,5,3,12,3,13,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8,20,16,2,3,0,3,16,0,0,...,1,0,0,0,0,0,0,0,0,0
4205,31,16,40,3,3,0,7,7,0,0,...,0,1,0,0,0,0,0,0,0,0
4206,8,23,38,0,3,0,6,4,0,1,...,0,0,1,0,0,0,0,0,0,0
4207,9,19,25,5,3,0,11,20,0,0,...,0,0,0,0,0,0,0,0,0,0
4208,46,19,3,2,3,0,6,22,0,0,...,1,0,0,0,0,0,0,0,0,0

In [21]:
cleaned_X

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X12,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,32,23,17,0,3,24,9,14,0,0,...,0,0,1,0,0,0,0,0,0,0
1,32,21,19,4,3,28,11,14,0,0,...,1,0,0,0,0,0,0,0,0,0
2,20,24,34,2,3,27,9,23,0,0,...,0,0,0,0,0,0,1,0,0,0
3,20,21,34,5,3,27,11,4,0,0,...,0,0,0,0,0,0,0,0,0,0
4,20,23,34,5,3,12,3,13,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8,20,16,2,3,0,3,16,0,0,...,1,0,0,0,0,0,0,0,0,0
4205,31,16,40,3,3,0,7,7,0,0,...,0,1,0,0,0,0,0,0,0,0
4206,8,23,38,0,3,0,6,4,0,1,...,0,0,1,0,0,0,0,0,0,0
4207,9,19,25,5,3,0,11,20,0,0,...,0,0,0,0,0,0,0,0,0,0
4208,46,19,3,2,3,0,6,22,0,0,...,1,0,0,0,0,0,0,0,0,0

In [22]:
### OF TEST DATA
datatest_encoded = enco(datatest) ### encoded the data
datatest_encoded

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X11,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,21,23,34,5,3,26,0,22,0,0,...,0,0,0,1,0,0,0,0,0,0
1,42,3,8,0,3,9,6,24,0,0,...,0,0,1,0,0,0,0,0,0,0
2,21,23,17,5,3,0,9,9,0,0,...,0,0,0,1,0,0,0,0,0,0
3,21,13,34,5,3,31,11,13,0,0,...,0,0,0,1,0,0,0,0,0,0
4,45,20,17,2,3,30,8,12,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,6,9,17,5,3,1,9,4,0,0,...,0,0,0,0,0,0,0,0,0,0
4205,42,1,8,3,3,1,9,24,0,0,...,0,1,0,0,0,0,0,0,0,0
4206,47,23,17,5,3,1,3,22,0,0,...,0,0,0,0,0,0,0,0,0,0
4207,7,23,17,0,3,1,2,16,0,0,...,0,0,1,0,0,0,0,0,0,0
4208,42,1,8,2,3,1,6,17,0,0,...,1,0,0,0,0,0,0,0,0,0

In [23]:
cleaned_datatest = zvarc(datatest_encoded)
cleaned_datatest ### variance =0 removal
cleaned_datatest.astype(int)  ### changing data type to int

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X11,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,21,23,34,5,3,26,0,22,0,0,...,0,0,0,1,0,0,0,0,0,0
1,42,3,8,0,3,9,6,24,0,0,...,0,0,1,0,0,0,0,0,0,0
2,21,23,17,5,3,0,9,9,0,0,...,0,0,0,1,0,0,0,0,0,0
3,21,13,34,5,3,31,11,13,0,0,...,0,0,0,1,0,0,0,0,0,0
4,45,20,17,2,3,30,8,12,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,6,9,17,5,3,1,9,4,0,0,...,0,0,0,0,0,0,0,0,0,0
4205,42,1,8,3,3,1,9,24,0,0,...,0,1,0,0,0,0,0,0,0,0
4206,47,23,17,5,3,1,3,22,0,0,...,0,0,0,0,0,0,0,0,0,0
4207,7,23,17,0,3,1,2,16,0,0,...,0,0,1,0,0,0,0,0,0,0
4208,42,1,8,2,3,1,6,17,0,0,...,1,0,0,0,0,0,0,0,0,0

In [24]:
cleaned_datatest.dtypes

X0      int32
X1      int32
X2      int32
X3      int32
X4      int32
        ...
X380    int64
X382    int64
X383    int64
X384    int64
X385    int64
Length: 371, dtype: object

# Step10: Perform dimensionality reduction

#### step 10.1 (Linear dimensionality reduction using svd)

In [25]:
## of train dataset
svd = TruncatedSVD(n_components = 1)
reduced_X = svd.fit_transform(cleaned_X)
reduced_X = pd.DataFrame(reduced_X, columns=['Dimension1'])

In [26]:
reduced_X

      Dimension1
0      49.823313
1      52.240390
2      51.786552
3      46.347726
4      43.341214
...          ...
4204   23.486381
4205   47.172535
4206   30.279724
4207   29.885054
4208   48.102131

[4209 rows x 1 columns]

In [27]:
### of test dataset
svd2 = TruncatedSVD(n_components = 1)
reduced_datatest = svd2.fit_transform(cleaned_datatest)
reduced_datatest = pd.DataFrame(reduced_datatest, columns=['Dimension1'])
reduced_datatest

      Dimension1
0      50.265179
1      46.285332
2      32.673024
3      48.967387
4      60.774481
...          ...
4204   17.470905
4205   43.810236
4206   54.976836
4207   23.368125
4208   41.444829

[4209 rows x 1 columns]

# Step11: Training using xgboost

# Step12: Predict your test_df values using xgboost

In [31]:
X_train = np.array(reduced_X)  ### all the X columns from training data
Y_train = Y.sort_values(by='y', ascending=True)##ascending order for xgboost         ### the Y column from the training data
Y_train = np.array(Y_train)
Y_test = np.array(reduced_datatest) #### test data to predict

In [32]:
Y_test.shape

(4209, 1)

In [38]:
xgb_class = XGBRegressor(objective="reg:squarederror")
xgb_class.fit(X_train , Y_train)

y_pred = xgb_class.predict(Y_test) 

mse = mean_squared_error(Y_test, y_pred)
rmse = np.sqrt(mse)

In [39]:
print(f"Mean Squared Error: {mse}")
print(f"Root Mean Squared Error: {rmse}")

Mean Squared Error: 3458.414128667137
Root Mean Squared Error: 58.8082828236562